@model IEnumerable<Inventario.Frontend.Models.Producto>
@{
    ViewData["Title"] = "Index";
}

@section Estilos {
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["AlertMessage"] != null)
{
    <script>
        $(function () {
            Swal.fire({
                title: '¡Éxito!',
                text: '@TempData["AlertMessage"]',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <script>
        $(function () {
            Swal.fire({
                title: '¡Error!',
                text: '@TempData["ErrorMessage"]',
                icon: 'warning',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}

<p>
    <a onclick="showInPopup('@Url.Action("Create", "Productos", new { id = 0 })', '')"
       class="btn btn-sm btn-primary text-white"><i class="fa fa-plus-circle"></i> Nuevo Producto</a>
</p>

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h5>Productos</h5>
        </div>
        <div class="card-body">
            <table id="producto" class="table table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Valor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                            <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                            <td>@Html.DisplayFor(modelItem => item.ValorTotal)</td>
                            <td>
                                <a onclick="showInPopup('@Url.Action("Entrada", "Productos", new { id = item.Id })', '')"
                                   class="btn btn-outline-success btn-sm">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                                <a onclick="showInPopup('@Url.Action("Salida", "Productos", new { id = item.Id })', '')"
                                   class="btn btn-outline-success btn-sm">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <a onclick="showInPopup('@Url.Action("Edit", "Productos", new { id = item.Id })', '')"
                                   class="btn btn-outline-warning btn-sm">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                                <button data-id="@item.Id" class="btn btn-outline-danger btn-sm deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@section Scripts {

    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/showmodal.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#producto').DataTable({
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                },
            });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Productos/Delete/', false);
    </script>
}
